services:
    # Service for Express back-end
    backend:
      build: ./backend
      command: npm run dev
      develop:
        watch:
          - action: sync
            path: ./backend
            target: /app
            ignore:
              - node_modules/
          - action: rebuild
            path: ./backend/package.json
      ports:
        - "3000:3000"
      environment:
        - PORT=3000
        - DATABASE_URL=postgresql://user:password@db:5432/maintenancedb
      depends_on:
        - db

    # Service for PostgreSQL database
    db:
      image: postgres:18-alpine
      ports:
        - "5432:5432"
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: maintenancedb
      volumes:
        - pgdata:/var/lib/postgresql/data

    # Service for React frontend (served by Nginx)
    frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile
      ports:
        - "6080:80"
        - "6443:443"
      depends_on:
        - backend

volumes:
  pgdata: