services:
  # Service for Express back-end
  backend:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - PORT=3000
      # Prisma Database URL
      # Match the db name with below
      - DATABASE_URL=postgresql://user:password@db:5432/maintenancedb
    depends_on:
      - db

  # Service for PostgreSQL database
  db:
    image: postgres:18-alpine
    ports:
      # Map port 5432 on host if access to container is needed
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: maintenancedb
    volumes:
      # Use named volumes to store database data persistently
      # 'pgdata' is defined below
      - pgdata:/var/lib/postgresql/data

# Define named volume
volumes:
  pgdata: